*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

li {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.header {
  position: absolute;
  width: 100%;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__right img {
  margin-left: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu {
  margin-left: 32px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link {
  margin-right: 32.5px;
  color: #18191f;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.more {
  background: url("img/header/down.svg") right center no-repeat;
  padding-right: 22px;
}

@media (max-width: 375px) {
  .header__right {
    display: none;
  }
}
.main__organize {
  background: url("img/main/organize/Background.svg") center no-repeat;
  background-size: cover;
}

.organize__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 155px 0 10px 0;
}
.organize__title {
  color: #18191f;
  margin-top: 85px;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
}
.organize__btn {
  display: inline-block;
  padding: 16px 41px;
  background: #8c30f5;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.organize__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: -25px;
}

.phone img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .organize__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .organize__btn {
    margin-bottom: 40px;
  }
}
.logo-clouds__row {
  margin: 16px 0;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-top: 4px solid rgba(0, 0, 0, 0.03);
  border-bottom: 4px solid rgba(0, 0, 0, 0.03);
  padding: 24px 0;
}
.logo-clouds__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 891px;
  padding-top: 10px;
}

.features__row {
  color: #18191f;
  text-align: center;
  margin: 78px 0 0 0;
}
.features__top {
  max-width: 540px;
  margin: 0 auto;
}
.features__title {
  margin-bottom: 8px;
}
.features__subtitle {
  margin-bottom: 50px;
}
.features__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-bottom: 18px;
}
.item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
.item__description {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 64px;
}

@media (max-width: 542px) {
  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 424px) {
  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0 30px;
  }
}
.main__customers {
  background: #d5fafc;
  color: #18191f;
}

.customers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("img/main/customers/Quote.svg") 15px 64px no-repeat;
  padding: 120px 0 45px 0;
  margin: 0 -15px;
}
.customers__left-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 15px;
  max-width: 460px;
}
.customers__right-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 15px;
  max-width: 460px;
}

.left-column__titles {
  margin-bottom: 24px;
}
.left-column__title {
  margin-bottom: 8px;
}
.left-column__item {
  float: right;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  max-width: 350px;
  margin-bottom: 32px;
}
.column_big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: none;
}
.column__logo {
  margin-bottom: 28px;
}
.column__description {
  padding-left: 32px;
  background: url("img/main/customers/Quote-mini.svg") top left no-repeat;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}
.column__title {
  padding-left: 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.column__job {
  padding-left: 32px;
  color: #969bab;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.right-column__top {
  margin-top: 47px;
}
.right-column__item {
  float: left;
}

@media (max-width: 768px) {
  .left-column__titles {
    margin-bottom: 24px;
    text-align: center;
  }

  .column {
    max-width: none;
  }

  .customers__left-column, .customers__right-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.achievments__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 82px auto;
}
.achievments__left-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.achievments__title {
  padding-right: 30%;
  padding-top: 2px;
  margin-bottom: 8px;
}
.achievments__right-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.achievments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  padding: 0 15px;
  padding: 0 15px;
  margin-bottom: 40px;
}
.achievments__item:nth-child(odd) {
  margin-right: 30px;
}
.achievments__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 16px;
  padding-top: 5px;
}
.achievments__description {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}
.achievments__span {
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .achievments__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .achievments__right-column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .achievments__title {
    padding: 0 30px;
    text-align: center;
  }
  .achievments__subtitle {
    text-align: center;
  }
}
.headline__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  padding: 23.5px 0 64px 0;
}
.headline__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.headline__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1e4ff;
  border-radius: 8px;
  padding: 40px 0 0 20px;
}
.headline__phone img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.headline__right-side {
  padding: 0 55px 0 63px;
}
.headline__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 32px;
}
.headline__text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
}
.headline__btn {
  color: #8c30f5;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  background: url("img/main/headline/arrow.svg") right center no-repeat;
  padding: 0 32px 0 0;
}

@media (max-width: 768px) {
  .headline__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .headline__right-side {
    margin-top: 50px;
  }
}
@media (max-width: 425px) {
  .headline__phone {
    display: block;
  }
  .headline__phone img {
    max-width: 100%;
  }
}
html {
  color: #18191f;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}