@import "null";
@import "header/header";
@import "main/organize";
@import "main/logo-clouds";
@import "main/features";
@import "main/customers";
@import "main/achievments";
@import "main/headline";
@import "main/trends";
@import "main/app.scss";

$text: #18191f;

html {
  color: $text;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

@media (max-width: 425px) {
  .title {
    font-size: 2em;
  }
}
