@import "null";
@import "header/header";
@import "main/organize";

$text: #18191f;

html {
  font-family: "Manrope", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
