.logo-clouds {
  &__row {
    margin: 16px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top: 4px solid rgba(0, 0, 0, 0.03);
    border-bottom: 4px solid rgba(0, 0, 0, 0.03);
    padding: 24px 0;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 891px;
    padding-top: 10px;
  }
}
