$text: #18191f;

.main {
  &__organize {
    background: url("img/main/organize/Background.svg") center no-repeat;
    background-size: cover;
  }
}

.organize {
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 155px 0 20px 0;
  }

  &__title {
    color: $text;
    margin-top: 85px;
    margin-bottom: 32px;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
  }

  &__btn {
    display: inline-block;
    padding: 16px 41px;
    background: #8c30f5;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }

  &__right {
    flex: 0 0 auto;
    margin-right: -25px;
  }
}
.phone {
  img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .organize {
    &__row {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__btn {
      margin-bottom: 40px;
    }
  }
}
